﻿<%@ Master Language="VB" CodeFile="MasterAfterLogin.master.vb" Inherits="MasterAfterLogin" %>

<%@ Register Src="~/UserControl/PageAllow1.ascx" TagPrefix="uc1" TagName="PageAllow1" %>
<%@ Register Src="~/UserControl/childPage_UserControl.ascx" TagPrefix="uc1" TagName="childPage_UserControl" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>RiyaTrip</title>
   <%-- <script src="http://localhost:56359/Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="http//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>--%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js" type="text/javascript"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,IE=EmulateIE8,IE=EmulateIE9,IE=EmulateIE10,IE=EmulateIE11" />
    <%--Like this also as below--%>
    <%--<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,IE8,IE9,IE10,IE11" />--%>
    <meta http-eqiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <script type="text/javascript">
        var UrlBase = '<%=ResolveUrl("~/")%>';
        //var UrlBase = 'http://localhost:56359/';
        //var ApplUrl = 'http://b2b.//.com/';
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="CSS/jquery-ui-1.8.8.custom.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Bootstrap Core CSS -->
    <%--<link href="http://localhost:56359/newcss/bootstrap.min.css" rel="stylesheet" />--%>
    <link href="<%= ResolveUrl("~/newcss/bootstrap.min.css")%>" rel="stylesheet" />

    <!-- Custom C -->
    <%--<link href="http://localhost:56359/newcss/sb-admin.css" rel="stylesheet" />--%>
    <link href="<%= ResolveUrl("~/newcss/sb-admin.css")%>" rel="stylesheet" />

    <!-- Morris Charts CSS -->
    <%-- <link href="http://localhost:56359/css/plugins/morris.css" rel="stylesheet" />--%>
   <%-- <link href="<%= ResolveUrl("~/css/plugins/morris.css")%>" rel="stylesheet" />--%>

    <!-- Custom Fonts -->
    <%--<link href="http://localhost:56359/newcss/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />--%>
    <link href="<%= ResolveUrl("~/newcss/font-awesome/css/font-awesome.min.css")%>" rel="stylesheet" type="text/css" />

    <%--<link href="CSS/itz.css" rel="stylesheet" />
    <link href="CSS/main2.css" rel="stylesheet" />
    <link href="<%= ResolveUrl("~/CSS/main2.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= ResolveUrl("~/CSS/style.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= ResolveUrl("~/CSS/astyle.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= ResolveUrl("~/CSS/styleone.css") %>" rel="stylesheet" type="text/css" />
    --%>
    <%--<link href="<%= ResolveUrl("~/CSS/lytebox.css") %>" rel="stylesheet" type="text/css" />
 
    <link href="<%= ResolveUrl("css/itz.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= ResolveUrl("css/app.css")%>" rel="stylesheet" type="text/css" />
    <link href="<%= ResolveUrl("css/foundation.css")%>" rel="stylesheet" type="text/css" />--%>


    <%--<script src="http://localhost:56359//Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>--%>
    <script src="<%= ResolveUrl("~/Scripts/jquery-1.7.1.min.js")%>" type="text/javascript"></script>
    <%--<script src="http://localhost:56359/js/lytebox.js" type="text/javascript"></script>--%>
    <script src="<%= ResolveUrl("~/js/lytebox.js") %>" type="text/javascript"></script>

    <%--<script src="http://localhost:56359/JS/JScript.js" type="text/javascript"></script>--%>
    <script src="<%= ResolveUrl("~/JS/JScript.js") %>" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.acordianfilter').click(function () {

                $('.breakdown').hide();

                $(this).parent('.filter1').children('.finner').slideToggle();


            });
            $('#logout').click(function () {
                $('#logoutin').slideToggle();
            });

            ////debugger;
            //$("#crossid").click(function () {
            //    ////debugger;
            //    $("#divtoNotify").hide();
            //    $("#crossid").hide();
            //});
        });
        $(document).ready(function () {
            $("#menustop").click(function () {
                $(".menubtns").slideToggle();
            });
        });
    </script>


</head>
<body>

    <input type='hidden' id='widget_agent_id' value='<%=Session("UID")%>' />
    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true">
        </asp:ScriptManager>
        <div>
            <div id="wrapper">

                <!-- Navigation -->
                <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                
              <%--  <a class="navbar-brand" href="../../Dashboard.aspx">ITZ Admin</a>--%>
                <a class="navbar-brand" href="<%= ResolveUrl("~/Dashboard.aspx")%>">Riyatrip Support</a>
                <%--<img src="Images/logo-new.jpg" alt="Flywidus Support" />--%>
                     <ul class="nav navbar-right rgt top-nav">
               
                <li class="dropdown">
                    <a id="logout" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= Session("username").ToString() %> <b class="caret"></b></a>
                    <ul class="dropdown-menu" id="logoutin">
                       
                      
                        <li>
                            <a href="<%= ResolveUrl("~/Logout.aspx")%>"><i class="fa fa-fw fa-power-off"> </i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            </div>
                    
            <!-- Top Menu Items -->
          
       
                </nav>
                <div class="clear1"></div>
                <div class="hidden-md hidden-sm hidden-lg">
                    <div class="row ">
                        <div class="col-md-12">
                            <button type="button" id="menustop" class="btn btn-primary">Left Menu</button>
                        </div>
                    </div>
                </div>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="row">
                    <div class="col-md-2 col-xs-12 menubtns" style="margin-left: -3px;">
                        <ul class="nav navbar-nav side-nav" id="Ul_Menu" runat="server" style="overflow-y: scroll;">
                        </ul>
                    </div>
                    <div class="col-md-10 col-xs-12">
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>

                </div>

            </div>
        </div>

        <div title="click to close" style="cursor: pointer; width: 20px; height: 20px; float: right; bottom: 84px; right: 35px; position: fixed; display: none; z-index: 9999;" id="crossid">

            <img src="<%= ResolveUrl("~/Images/cross.jpg")%>">

            <audio id="audio" src="http://www.soundjay.com/button/beep-07.wav" autostart="false"></audio>
        </div>
        <div id="divtoNotify" style="background: #00ffff; overflow-y: scroll; display: none; float: right; bottom: 5px; right: 20px; position: fixed; height: 100px; width: 300px; border: 1px solid black; padding: 5px; z-index: 9999;">
        </div>
    </form>






    <!-- Morris Charts JavaScript -->
    <script src="<%= ResolveUrl("~/newcss/js/plugins/morris/raphael.min.js")%>" type="text/javascript"></script>
    <script src="<%= ResolveUrl("~/newcss/js/plugins/morris/morris.min.js")%>" type="text/javascript"></script>
    <script src="<%= ResolveUrl("~/newcss/js/plugins/morris/morris-data.js")%>" type="text/javascript"></script>
    <script type="text/javascript">
        window.setInterval(function () {

            CallHandler();


        }, 1000000);

        function CallHandler() {

            //var obj = {
            //    'Notification': $('#Lblcancel').val(),
            //}

            $.ajax({

                type: "POST",
                url: UrlBase + "NotificationHandler.ashx",
                contentType: "application/html; charset=utf-8",
                dataType: "Html",

                //data: obj,

                responseType: "application/html; charset=utf-8",
                success: OnComplete,
                error: OnFail
            });
            PlaySound();
            return false;

        }
        function PlaySound() {
            var sound = document.getElementById("audio");
            sound.play()
        }
        function Direct() {

            var UrlBase2 = '<%=ResolveUrl("~/")%>';
                debugger;
                $.ajax({
                    url: UrlBase2 + "AgencySearch.asmx/DirectR1",
                    // data: "{ 'Mobile': '" + MobileNo + "','Email': '" + Email + "' }",
                    dataType: "json", type: "POST",
                    contentType: "application/json; charset=utf-8",

                    success: function (response) {
                        debugger;

                        window.location = response.d;


                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        debugger;
                        alert(textStatus);

                    }
                });

            }
        function OnComplete(data) {
            if (data != "") {
                $("#divtoNotify").html(data);
                $("#divtoNotify").show();
                $("#crossid").show();
            }
        }

        function OnFail(result) {

            //alert('Request Failed');
        }

        ////$(document).on("click", "#crossid", function (e) {
        ////    $("#divtoNotify").hide();
        ////    $("#crossid").hide();
        ////    });        
        $("#crossid").click(function () {
            //debugger;
            $("#divtoNotify").hide();
            $("#crossid").hide();
        });



       


    </script>
   

</body>
</html>

