
@media (min-width: 768px){
  #wrapper {padding-right: 225px; padding-left: 0;}
  .side-nav{right: 0;left: auto;}
}
@media (max-width: 580px) {
    .navbar-inverse .navbar-nav>li>a {
    color:#ffffff!important;
}
}


/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */


#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

